.buttonsContainer {
	display: inline-flex;
	gap: 24px;
	margin-bottom: 60px;
}

.responseContainer {
	padding: 0 30px;
	display: flex;
	max-width: 1400px;
	margin: 0 auto;
	align-items: center;
	gap: 100px;
}

.imageContainer {
}

.image {
}

.textContainer {
	font-size: 16px;
	font-weight: 500;
	line-height: 20px;
}

.code {
	font-weight: 500;
	font-size: 30px;
	margin-bottom: 15px;
}

.text {
}
.info {
}
@media (max-width: 1px) {
}
