.button {
	min-width: 130px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 7px 24px;
	border-radius: 5px;
	font-size: 14px;
	font-weight: 600;
	color: #fff;

	border: none;
	cursor: pointer;
}

.disabled {
	background-color: #004d99;
	opacity: 0.5;
	color: #002e5c;
	cursor: no-drop;
}

.secondary {
	background-color: transparent;
	border: 1px solid #06c;
	color: #06c;
}

.default {
	background-color: #06c;
}

.red {
	background-color: #cc1439;
}

.default:hover {
	background-color: #0080ff;
}

.red:hover {
	background-color: #ff1a47;
}

.secondary:hover {
	background-color: #e5f0fa;
}

.default:active {
	background-color: #0059b2;
}

.secondary:active {
	background-color: #c9e5ff;
}

.red:active {
	background-color: #b21232;
}

.button:disabled {
	background-color: #004d99;
	opacity: 0.5;
	color: #fff;
}
